@import '~antd/dist/antd.dark.css';

* {
  font-size: 14px;
}

body {
  margin: 0;
  -webkit-font-smoothing: subpixel-antialiased;
  -moz-osx-font-smoothing: auto;
  font-family: museo-sans-rounded, sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Fira Code', monospace;
}

a {
  color: #34303C
}

.ant-layout-content {
  background: #2d2d2d;
}

.ant-menu.ant-menu-dark {
  background: transparent;
}

.ant-layout-header .ant-menu-horizontal {
  line-height: 28px;
  border: 0;
}

.ant-menu-dark.ant-menu-horizontal > .ant-menu-item-active,
.ant-menu-dark.ant-menu-horizontal > .ant-menu-item-open,
.ant-menu-dark.ant-menu-horizontal > .ant-menu-item-selected,
.ant-menu-dark.ant-menu-horizontal > .ant-menu-item:hover,
.ant-menu-dark.ant-menu-horizontal > .ant-menu-submenu-active,
.ant-menu-dark.ant-menu-horizontal > .ant-menu-submenu-open,
.ant-menu-dark.ant-menu-horizontal > .ant-menu-submenu-selected,
.ant-menu-dark.ant-menu-horizontal > .ant-menu-submenu:hover {
  border: 1px solid rgba(52, 48, 60, 0.3);
}

.ant-menu-dark.ant-menu-horizontal .ant-menu-item {
  border: 1px solid transparent;
  width: 90px;
  text-align: center;
}

.ant-menu.ant-menu-dark .ant-menu-item-selected, .ant-menu-submenu-popup.ant-menu-dark .ant-menu-item-selected {
  background: none;
}

.ant-layout-header, .ant-layout-footer {
  padding: 27px;
  color: #2d2d2d;
  height: 84px;
  background: radial-gradient(21.18% 6224.49% at 50% 50%, #FFE276 0%, #FFD127 42.78%, #FFC900 100%);
}

.ant-menu-dark .ant-menu-item-selected > a, .ant-menu-dark .ant-menu-item, .ant-menu-dark .ant-menu-item-group-title, .ant-menu-dark .ant-menu-item > a, .ant-menu-dark .ant-menu-item > span > a {
  color: #34303C;
}
