.logo {
  margin: 10px auto;
  position: absolute;
  left: 50%;
  top: 7px;
  height: 50px;
  width: 50px;
  line-height: 0;
  text-align: center;
  display: inline-block;
}
.logo span {
  line-height: 20px;
}

.logo img {
  margin-left: 5px;
}
